<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>

                    </li>

                </ul>
                <ul>
                    <li>
                        <a routerLink="/"> Home</a>
                    </li>
                    <li>
                        <a routerLink="/experience"> Experience</a>
                    </li>
                    <li>
                        <a routerLink="/movies"> Movies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>