<section class="p-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag"> Software Developer</span>
        <h1 class="mt-4">Thamimul Ansari</h1>
        <p class="p-des mt-3">
          If you are new to Angular, you might want to start with Try it now!,
          which introduces the essentials of Angular in the context of a
          ready-made basic online store app for you to examine and modify. This
          standalone tutorial takes advantage of the interactive StackBlitz
          environment for online development. You don't need to set up your
          local environment until you're ready.</p
        >
      </div>
    </div>
  </div>
</section>
